header h1 {
    padding-right:10px;
    font-size:2.0em;
    margin:0;
    color:black;
    align-items:center;
    line-height:50px;
     
}

.header {
    display:flex;
    justify-content:space-between;
    align-items:center; 
}

.banner {
    display:flex;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    width:100%; 
}

.welcome-heading {
    line-height:50px;
}

 .workshops {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    width:320px; 
    height:180px;
    padding:4px;
    background-color:rgb(129, 38, 38);

 }

.workshop-text {

    font-size:2.0em;
    text-align:center;
    position:relative;
    bottom:40px;
    color:rgb(117, 18, 18);
    text-shadow:2px 2px black;
    
}


@media only screen and (min-width:$tablet) {
    header h1 {
        padding-right:20px;
        font-size:3.0em;
        line-height:70px;
    }
}

@media only screen and (min-width:$tabletLarge) {
    header h1 {
         padding-right:40px; 
         font-size:3.5em;
         line-height:110px;
     }
 }

@media only screen and (min-width:$desktop) {
   header h1 {
        padding-right:200px; 
        font-size:5.0em;
    }
}
