nav {
    display:block;
    color:black;
    background-color: rgb(110, 86, 86);
    
}

nav ul {
    list-style:none;
    width:100%;
    align-items:center;
    display:flex;
    flex-direction:column;
    
}

nav ul li a {
    display:block;
    color:white;
    padding:10px;
    text-decoration:none;
    position:relative;
    width:100%;
    
}

li a:hover {
    background-color:whitesmoke;
    color:black;
}

li {
    flex:1;
    padding:10px;
    text-align:center;
}

nav a {
    display:block;
    text-align: center;
    background-color:rgb(129, 38, 38);
     
}

@media (min-width:$tablet){
    nav ul {
       display: flex;
   }

    nav {
       display: block;
   }

    nav a {
       line-height: 40px;
       padding: 0 10px;
       font-size: 1.3em;
   }

}

@media only screen and (min-width:$desktop) {
    nav ul {
        flex-direction: row;
        
    }

.nav ul {
    list-style: none;
    margin: 0;
    font-size:1.5em;
    display:flex;
}

}

