.workshop-heading {
    font-size:2.5em;
    text-align:center;
    color:black;
    line-height:60px;
    padding-top:20px;
}

.workshop-guitar {
    display:flex;
    flex:100%;
    justify-content:center;
    
}

.workshop-info {
    font-size:1.3em;
    line-height:30px;
    text-align:center;
    
}
.workshops h2 {
    font-family: "Roboto", sans-serif;
}
.form-section {
    margin-left: 10%;
    font-weight: bold;
}

.join-us {
    font-size:2.0em;
    line-height:50px;
}

.sign-up {
    line-height:30px;
    text-align:left;
}
.sign-up-form {
    font-size:1.5em;
    padding-top:20px;
}