.wrapper {
    min-width: $mobileTiny;
    background-color: white;
    border-right: solid 3px rgb(192, 61, 61);
    border-left: solid 3px rgb(192, 61, 61);
}

@media only screen and (min-width:$tablet) {
    
    .wrapper {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        
    }
}